PORT=8787
HOST=127.0.0.1
MACS_COMMAND_TOKEN=
INSTINCT_RELAY_BASE_URL=
INSTINCT_RELAY_OUTBOUND_TOKEN=
INSTINCT_RELAY_CALLBACK_TOKEN=
POSTASTUDIOS_BASE_URL=
POSTASTUDIOS_API_TOKEN=
BLUEHOST_API_BASE_URL=
BLUEHOST_API_TOKEN=
VOICE_PROVIDER=
VOICE_CALLBACK_BASE_URL=
